@model ViewModels.Models.AddPostViewModel
@{
    ViewBag.Title = "NewPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>NewPost</h2>
@*@Html.AntiForgeryToken();
@Html.ValidationSummary();*@
@Html.LabelFor(x=>x.Title)<span class="error" id="erTitle" hidden >Please enter title of the post</span><br />
@Html.TextBoxFor(x=>x.Title)<br />
@Html.LabelFor(x => x.Body)<span class="error" id="erBody" hidden >Please enter body of the post</span><br />
@(Html.Kendo().Editor()
      .Name("editor")
      .HtmlAttributes(new { style = "height:200px", aria_label = "editor" })
      .Resizable(resizable => resizable.Content(true).Toolbar(true))
      //.ImageBrowser(imageBrowser => imageBrowser
      //    .Image("~/Content/UserFiles/Images/{0}")
      //    .Read("Read", "ImageBrowser")
      //    .Create("Create", "ImageBrowser")
      //    .Destroy("Destroy", "ImageBrowser")
      //    .Upload("Upload", "ImageBrowser")
      //    .Thumbnail("Thumbnail", "ImageBrowser")
      //)
      .Value(@<text></text>)
)

<button >Add Post</button>
<script>
    $(document).ready(function(){

        $('button').click(function () {
            debugger;
            $('.error').hide();
            var error = false;
            var title = $('#Title').val();
            var body = $('#editor').val();
            if (title == "" || title == null)
            {
                $('#erTitle').show();
                error = true;
            }
            if (body == "" || body == null) {
                $('#erBody').show();
                error = true;
            }
            if (error)
                return false;
            var post={
                Title: $("#Title").val(),
                Body: $("#editor").data("kendoEditor").value()
                
            }
            debugger;
            $.ajax({
                url: '@Url.Action("NewPost","Posts")',
                type: "POST",
                data: JSON.stringify(post),
                contentType: "application/json;charset=utf-8",
                success: function () {
                    alert('Post Added');
                    //window.location = "../CustomerManagement/EditCustomers?action=added&id=" + JSON.stringify(result, null, 4)
                },
                error: function (result) {

                    return false;
                },
                complete: function () {
                    //alert('success');
                    return false;
                }
            });
        })
    })
</script>