<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - My Kendo UI MVC Application</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    	<link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2017.2.621/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.2.621/angular.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.2.621/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.2.621/kendo.all.min.js")"></script>
</head>
    <body>
        
        @Html.Action("SetMenu", "Shared")
       @(Html.Kendo().Menu()
      .Name("menu")
      .BindTo("SamMap")
      .SecurityTrimming(s => s.HideParent(true))
            )


        <div id="body">
                @RenderBody()
        </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - RETO Portal</p>
                </div>
            </div>
        </footer>
    </body>
</html>